<!DOCTYPE html>
<html>
  <head>
    <title>Holman Gao</title>
    <link href="{{cachify '/assets/main.css'}}" rel="stylesheet" />
    <link type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
  </head>
  <body>
    <div class="container">
      <h1>My Todo List!</h1>
      <script type="text/javascript" src="{{cachify '/assets/main.js'}}"></script>
    </div>
  </body>
</html>
